.img-fluid{
    width: 90px;
    height: 90px;
} /* image de la navbar */

.container{
    padding-top: 30% ;
}

.languages{
    padding-top: 30% ;
}

/* ******************************************* ANIMATION *************************************************** */

.AnimationImg{
    display: inline-flex;       
    /* aligner les 4 images à l'horizontal */
}

.AnimationImg {
    padding: 20% 0 0 0;
}

.AnimationImg .img-fluid{
margin: 0 40% 40% 0;
}

/* ***************************************** MEDIAS QUERIES ************************************************** */
/* (responsive pour que la barre de navigation ne cache pas le contenu sur un écran plus petit)  */

@media only screen and (max-width : 768px) and (min-width : 651px) {
    .AnimationImg {
        padding: 65% 0 0 0;
    }
    .languages{
        padding-top: 80% ;
    }
}
    
@media only screen and (max-width : 650px) and (min-width : 400px){
.AnimationImg {
    padding: 100% 0 0 0;
}
.languages{
    padding-top: 140% ;
}
} 

@media only screen and (max-width : 399px) {
    .AnimationImg {
        padding: 175% 0 0 0;
    }
    .languages{
        padding-top: 280% ;
    }
    } 

/* ************************************************ FOOTER ******************************************************* */

footer{
font-weight: bolder;
}

.footer{
font-weight: lighter;
font-size: smaller;
}

.back{
width: 50px;
height: 50px;
}